.counter{
    display: flex;
    align-items: center;
    gap: 10px;
    
    h4{
        font-size: 25px;
    }
    button{
        height: 20px;
        width: 20px;
        border-radius: 100%;
        background-color: transparent;
        color: #eee;
        font-size: 20px;
        outline: none;
        border: none;
    }
}