.item {
  height: 250px;
  width: 250px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  @media (max-width: 425px) {
    height: 250px;
    width: 150px;
  }
  img {
    height: 35%;
    @media (max-width: 425px) {
      height: 30%;
    }
  }
  h2 {
    padding-top: 10px;
    font-size: 1rem;
    color: #eee;
    @media (max-width: 425px) {
      padding-top: 0px;
    }
  }
  h3 {
    font-weight: 300;
    font-size: 1.1rem;
    color: #eee;
    font-family: "Roboto Condensed", sans-serif;
  }
  h4 {
    color: #eee;
    font-weight: 300;
  }
  .buy {
    height: 35px;
    width: 120px;
    font-size: 1rem;
    font-weight: 300;
    font-family: "Eagle Lake", cursive;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
