.item {
  height: 250px;
  width: 250px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  @media (max-width: 425px) {
    height: 200px;
    width: 150px;
  }
  img {
    height: 35%;
  }
  h2 {
    font-size: 1.1rem;
    color: #eee;
  }
  h3 {
    font-weight: 300;
    font-size: 1.1rem;
    color: #eee;
  }
  h4 {
    color: #eee;
    font-weight: 300;
  }
  .buy {
    height: 35px;
    width: 120px;
    font-size: 1.1rem;
    border-radius: 15px;
  }
}
