.mid {
  padding: 10px 50px 10px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
  @media (max-width: 1024px) {
    flex-direction: column;
    padding: 50px 50px 10px 50px;
  }

  .swords {
    height: 125px;
    padding-bottom: 25px;
    @media (max-width: 1024px) {
      display: none;
    }
  }

  .animate__animated.animate__wobble.animate__infinite {
    --animate-duration: 5000ms;
  }

  .rewards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;

    .rewards-title {
      font-weight: 500;
    }
    .specialItem {
      display: flex;
      gap: 20px;
      @media (max-width: 375px) {
        flex-direction: column;
        align-items: center;
      }
      img {
        height: 50px;
      }

      .info-rewards {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
          font-weight: 500;
          text-transform: capitalize;
        }
      }
    }
    .moneyXp {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 375px) {
        flex-direction: column;
        align-items: center;
      }
      h3 {
        font-weight: 500;
        text-transform: capitalize;
      }
    }
  }
}
