.opponent {
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 350px;
  @media (max-width: 1350px) {
    padding: 50px 50px 10px 50px;
  }

  .header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 150px;
      @media (max-width: 1440px) {
        height: 120px;
      }
      @media (max-width: 768px) {
        height: 110px;
      }
      @media (max-width: 425px) {
        height: 100px;
      }
    }
    .hp {
      position: absolute;
      bottom: 0;
      width: 200px;
      height: 12px;
      border-radius: 15px;
      color: rgb(0, 255, 30);
      background-color: rgb(0, 255, 30);
      @media (max-width: 1440px) {
        width: 180px;
      }
    }

    .hp::-webkit-progress-bar {
      border-radius: 15px;
    }

    .hp::-webkit-progress-value {
      border-radius: 15px;
      background-color: rgb(0, 255, 30);
    }
    .hp::-moz-progress-bar {
      border-radius: 15px;
      color: rgb(0, 255, 30);
    }
  }

  h3 {
    font-size: 2rem;
    text-align: center;
    @media (max-width: 1440px) {
      font-size: 1.7rem;
    }
    @media (max-width: 768px) {
      font-size: 1.4rem;
    }
  }

  .stats {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100%;
    height: 200px;
    text-align: center;
    h4 {
      font-size: 1.2rem;
      @media (max-width: 1440px) {
        font-size: 1.05rem;
      }
      @media (max-width: 768px) {
        font-size: 1rem;
      }
    }

    @media (max-width: 425px) {
      padding-top: 25px;
      grid-row-gap: 10px;
      width: 80%;
    }
    @media (max-width: 375px) {
      grid-template-columns: 1fr;
    }
  }

  .stats-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
}
