.opponent {
  padding: 10px 50px 10px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 300px;
  @media (max-width: 1024px) {
    padding: 50px 50px 10px 50px;
  }
  img {
    height: 150px;
    border-radius: 50%;
    outline: 2px solid #fff;
    @media (max-width: 425px) {
      height: 100px;
    }
  }

  h3 {
    font-size: 2rem;
    text-align: center;
    @media (max-width: 425px) {
      font-size: 1.5rem;
    }
  }

  .stats {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    width: 100%;
    height: 200px;
    @media (max-width: 425px) {
      padding-top: 25px;
      grid-row-gap: 10px;
      width: 80%;
    }
    @media (max-width: 375px) {
      grid-template-columns: 1fr;
    }
  }

  .stats-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .stats-info svg {
    color: #fff;
    font-size: 45px;
    @media (max-width: 425px) {
      font-size: 35px;
    }
  }

  .stats-info strong {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    @media (max-width: 425px) {
      font-size: 1.25rem;
    }
  }
  .hp {
    width: 60%;
    border-radius: 15px;
    color: rgb(0, 255, 30);
    background-color: rgb(0, 255, 30);
    @media (max-width: 425px) {
      width: 50%;
    }
  }

  .hp::-webkit-progress-bar {
    border-radius: 15px;
  }

  .hp::-webkit-progress-value {
    border-radius: 15px;
    background-color: rgb(0, 255, 30);
  }
  .hp::-moz-progress-bar {
    border-radius: 15px;
    color: rgb(0, 255, 30);
  }
}
