.inventory-container {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  grid-row-gap: 25px;
  padding-top: 25px;
  @media (max-width: 1440px) {
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 25px;
    padding-bottom: 25px;
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }

  h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
  }
}
