.register {
  display: flex;
  .registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 65%;

    @media (max-height: 800px) {
      gap: 30px;
      height: 70%;
    }
    @media (max-height: 500px) {
      padding-top: 20px;
    }

    h4 {
      color: #fff;
      font-size: 1.5rem;
      @media (max-height: 550px) {
        padding-top: 20px;
        font-size: 1.1rem;
      }
      @media (max-height: 500px) {
        display: none;
      }
    }

    .register-input {
      background-color: transparent;
      outline: none;
      border: none;
      color: #fff;
      font-size: 1.2rem;
      font-family: "Roboto Condensed", sans-serif;
      border-bottom: 1px solid grey;
      padding-bottom: 5px;
      transition: all 0.4s ease-in-out;
      border-radius: 0;
      &:focus {
        padding-left: 15px;
        border-bottom: 1px solid #fff;
        &::placeholder {
          color: #fff;
        }
      }
      @media (max-height: 550px) {
        height: 15px;
      }
    }

    .register-input-error {
      background-color: transparent;
      outline: none;
      border: none;
      color: #fff;
      font-size: 1.2rem;
      font-family: "Roboto Condensed", sans-serif;
      border-bottom: 1px solid rgb(169, 5, 5);
      padding-left: 10px;
      padding-bottom: 5px;
      transition: all 0.4s ease-in-out;
      &:focus {
        border-bottom: 1px solid rgb(169, 5, 5);
      }
      &::placeholder {
        color: rgb(169, 5, 5);
      }
    }

    .error {
      background-color: #fff;
      font-family: "Roboto Condensed", sans-serif;
    }
    .register-btn {
      background-color: transparent;
      border: none;
      outline: 1px solid #fff;
      color: #fff;
      font-family: "Eagle Lake", cursive;
      width: 235px;
      height: 40px;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      font-size: 16px;
      &:hover {
        background-color: #fff;
        color: #0e0e0e;
      }
      @media (max-height: 550px) {
        height: 30px;
        font-size: 13px;
      }
    }
    .register-link {
      color: #fff;
      text-decoration: none;
      font-size: 1rem;
      font-family: "Eagle Lake", cursive;
      &:hover {
        text-decoration: underline;
      }
      @media (max-height: 550px) {
        font-size: 13px;
      }
    }
  }
}
