.home-container {
  color: #fff;
  font-size: 3rem;
  height: 100%;

  h1 {
    height: 100px;
    font-size: 2.7rem;
    font-weight: 500;
    text-align: center;

    @media (max-width: 1200px) {
      font-size: 2.2rem;
    }
    @media (max-width: 1050px) {
      font-size: 1.7rem;
    }
    @media (max-width: 768px) {
      padding-top: 10px;
    }
    @media (max-width: 500px) {
      font-size: 1.5rem;
    }
    @media (max-height: 600px) {
      font-size: 2.2rem;
    }

    @media (max-height: 700px) and (max-width: 768px) {
      font-size: 2rem;
    }
    @media (max-height: 700px) and (max-width: 550px) {
      font-size: 1.5rem;
    }
    @media (max-height: 600px) and (max-width: 400px) {
      font-size: 1rem;
    }
  }

  .content {
    width: 100%;
    height: calc(100% - 150px);
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1200px) {
      flex-direction: column-reverse;
      padding-top: 80px;
    }
    @media (max-width: 880px) {
      padding-top: 100px;
    }
    @media (max-width: 768px) {
      padding-top: 60px;
    }
    @media (max-width: 425px) {
      padding-top: 90px;
    }
    @media (max-height: 600px) {
      flex-direction: column-reverse;
      padding-top: 120px;
    }
    @media (max-height: 600px) and (max-width: 1024px) {
      padding-top: 160px;
    }
    @media (max-height: 600px) and (max-width: 768px) {
      padding-top: 120px;
    }
    @media (max-height: 600px) and (max-width: 550px) {
      padding-top: 80px;
    }

    .col {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 1200px) {
        width: 100%;
      }
      @media (max-width: 375px) {
        padding-top: 200px;
      }
      @media (max-width: 375px) and (max-height: 550px) {
        padding-top: 220px;
      }
      .user {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        width: 100%;
        .userInfo {
          display: flex;
          align-items: center;
          @media (max-width: 375px) {
            flex-direction: column;
          }
          @media (max-width: 375px) and (max-height: 710px) {
            flex-direction: column;
            padding-top: 120px;
          }
          img {
            height: 120px;
            @media (max-width: 1200px) {
              height: 110px;
            }
            @media (max-width: 768px) {
              padding-top: 25px;
            }
            @media (max-height: 600px) and (max-width: 350px) {
              height: 80px;
              padding-bottom: 10px;
            }
            @media (max-height: 700px) {
              height: 80px;
            }
          }

          .text {
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            @media (max-width: 375px) {
              padding-left: 0;
            }
            .stats {
              display: flex;
              align-items: center;
              gap: 20px;
              .hpInfo {
                color: rgb(255, 0, 0);
                font-size: 1.4rem;
                display: flex;
                align-items: center;
                gap: 5px;
                .hpValue {
                  color: #fff;
                  font-size: 1.3rem;
                }
              }

              .moneyInfo {
                color: rgb(0, 255, 30);
                font-size: 1.5rem;
                display: flex;
                align-items: center;
                gap: 5px;
                .moneyValue {
                  color: #fff;
                  font-size: 1.3rem;
                }
              }
            }

            .hp {
              width: 160px;
              height: 13px;
              border-radius: 15px;
              color: rgb(0, 255, 30);
              background-color: rgb(0, 255, 30);
            }

            .hp::-webkit-progress-bar {
              border-radius: 15px;
            }

            .hp::-webkit-progress-value {
              border-radius: 15px;
              background-color: rgb(0, 255, 30);
            }
            .hp::-moz-progress-bar {
              border-radius: 15px;
              color: rgb(0, 255, 30);
            }
          }
        }

        .grid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          align-content: center;
          justify-items: center;
          grid-column-gap: 10px;
          grid-row-gap: 10px;

          @media (max-width: 1200px) {
            grid-template-columns: repeat(2, 10rem);
          }
          @media (max-width: 375px) {
            grid-template-columns: repeat(1, 10rem);
          }
        }
        p {
          font-size: 1.3rem;
          text-align: center;

          strong {
            font-family: "Roboto Condensed", sans-serif;
          }

          @media (max-width: 1000px) {
            font-size: 1.1rem;
          }
        }
      }
    }
    .colComingSoon {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 1200px) {
        width: 100%;
      }
      @media (max-width: 375px) {
        padding-top: 20px;
      }
      @media (max-height: 600px) {
        width: 100%;
      }
      @media (max-width: 375px) and (max-height: 711px) {
        padding-top: 150px;
      }
      @media (max-width: 375px) and (max-height: 550px) {
        padding-top: 220px;
      }

      h6 {
        text-align: center;
        @media (max-width: 375px) and (max-height: 711px) {
          font-size: 1.5rem;
        }
      }
    }
  }
}
