.home-container {
  color: #fff;
  font-size: 3rem;
  height: 100%;

  h1 {
    height: 100px;
    font-size: 2.7rem;
    font-weight: 500;
    text-align: center;

    @media (max-width: 1200px) {
      font-size: 2.2rem;
    }
    @media (max-width: 1000px) {
      font-size: 1.7rem;
    }
  }

  .content {
    width: 100%;
    height: calc(100% - 150px);
    display: flex;
    align-items: center;
    justify-content: center;
    .col {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .user {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        img {
          height: 140px;
          @media (max-width: 1200px) {
            height: 110px;
          }
          @media (max-width: 768px) {
            padding-top: 25px;
          }
        }
        .hp {
          width: 160px;
          height: 13px;
          border-radius: 15px;
          color: rgb(0, 255, 30);
          background-color: rgb(0, 255, 30);
        }

        .hp::-webkit-progress-bar {
          border-radius: 15px;
        }

        .hp::-webkit-progress-value {
          border-radius: 15px;
          background-color: rgb(0, 255, 30);
        }
        .hp::-moz-progress-bar {
          border-radius: 15px;
          color: rgb(0, 255, 30);
        }

        .grid {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          align-content: center;
          justify-items: center;
          grid-column-gap: 10px;
          grid-row-gap: 10px;
          width: 100%;
          @media (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 30px;
          }
        }
        p {
          font-size: 1.3rem;
          text-align: center;

          strong {
            font-family: "Roboto Condensed", sans-serif;
          }

          @media (max-width: 1000px) {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}
