.home-container {
  color: #fff;
  font-size: 3rem;
  padding-top: 10px;
  h1 {
    font-size: 3vw;
    font-weight: 500;
    text-align: center;
    @media (max-width: 1024px) {
      font-size: 4.5vw;
    }
  }

  .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 0 0;
    @media (max-width: 1024px) {
      padding: 30px 0 0 0;
    }
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 20px;
    }

    .img-container {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      img {
        height: 6vw;
        border-radius: 50%;
        @media (max-width: 1024px) {
          height: 9vw;
        }
        @media (max-width: 768px) {
          height: 90px;
        }
      }
      p {
        font-weight: 300;
        padding-top: 10px;
        font-size: 1.8rem;
        text-transform: capitalize;
        @media (max-width: 1024px) {
          font-size: 3vw;
        }
      }
    }
  }
}
