.main-container {
  position: relative;
  background-color: #141414;
  border-radius: 15px;
  width: 1100px;
  height: 650px;
  display: flex;
  justify-content: center;

  @media (max-width: 1440px) {
    width: 90vw;
    display: flex;
    align-items: center;
  }
}

.content {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  overflow-x: hidden;
  @media (max-width: 1440px) {
    padding-left: 120px;
  }
  @media (max-width: 1300px) {
    overflow-y: scroll;
  }
}
