.mainAuth {
  background-image: url("../../../assets/backgrounds/background-auth");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: calc(100vw - 350px);
}
.mainApp {
  background-image: url("../../../assets/backgrounds/background-app");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: calc(100vw - 350px);
}
