.profile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  position: absolute;
  top: 0;
  z-index: 99;
  user-select: none;

  .info {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
    img {
      background-color: #0e0e0e;
      height: 60px;
      cursor: pointer;
    }

    span {
      .money {
        color: #fff;
        font-size: 1.25rem;
        letter-spacing: 1px;
        user-select: none;
      }
    }
  }
}
