.profile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0 20px 0 20px;
  position: sticky;
  top: 0;
  z-index: 99;
  user-select: none;
  .notifications {
    margin-left: 20px;
  }

  .info {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      background-color: #0e0e0e;
      height: 60px;
    }

    span {
      .money {
        color: #fff;
        font-size: 1.25rem;
        letter-spacing: 1px;
        user-select: none;
      }
    }
  }
}
