.mission {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #eee;
  padding: 20px 50px 20px 50px;

  @media (max-width: 1024px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  @media (max-width: 530px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 425px) {
    padding: 20px;
  }

  .left {
    h3 {
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 300;
    }
    @media (max-width: 1024px) {
      text-align: center;
      padding-bottom: 20px;
    }

    @media (max-width: 768px) {
      text-align: initial;
      padding-bottom: 0;
    }
    @media (max-width: 530px) {
      text-align: center;
      padding-bottom: 20px;
    }
    @media (max-width: 425px) {
      font-size: 0.95rem;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 10px;
    h3 {
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 300;
    }
  }
}
