.mission {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #eee;
  padding: 20px 50px 20px 50px;

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
  }
}
