.profile-bar {
  border-radius: 15px;
  background-color: #141414;
  height: 600px;
  width: 330px;
  display: flex;
  flex-direction: column;
  position: relative;
  @media (max-width: 1500px) {
    width: 250px;
  }
  @media (max-width: 1440px) {
    display: none;
  }
}

.profile {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.avatar {
  height: 130px;
  border-radius: 50%;
  border: 2px solid rgb(0, 255, 30);
}

.profile-text {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.profile h3 {
  color: #fff;
  font-size: 2rem;
  padding-top: 10px;
}

.perkImage {
  height: 50px;
  border-radius: none;
  border-radius: 50%;
  @media (max-width: 1500px) {
    display: none;
  }
}

.bars {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  height: 200px;
  padding-bottom: 20px;
}

.bars label {
  color: #fff;
}

.stats {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 30px;
  width: 100%;
  height: 200px;
}

.stats-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.stats-info svg {
  color: #fff;
  font-size: 45px;
  @media (max-width: 1500px) {
    font-size: 28px;
  }
}

.stats-info strong {
  color: #fff;
  font-size: 1.5rem;
}

.hp {
  width: 60%;
  border-radius: 15px;
  color: rgb(0, 255, 30);
  background-color: rgb(0, 255, 30);
}

.hp::-webkit-progress-bar {
  border-radius: 15px;
}

.hp::-webkit-progress-value {
  border-radius: 15px;
  background-color: rgb(0, 255, 30);
}
.hp::-moz-progress-bar {
  border-radius: 15px;
  color: rgb(0, 255, 30);
}

.xp {
  width: 60%;
  border-radius: 15px;
  color: rgb(0, 136, 255);
  background-color: rgb(0, 136, 255);
}

.xp::-webkit-progress-bar {
  border-radius: 15px;
}

.xp::-webkit-progress-value {
  border-radius: 15px;
  background-color: rgb(0, 136, 255);
}
.xp::-moz-progress-bar {
  border-radius: 15px;
  color: rgb(0, 136, 255);
}

.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}
