.footer {
  width: inherit;
  height: 70px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .input {
    width: 100%;
    display: flex;
    align-items: center;
    input {
      height: 35px;
      width: 100%;
      border-radius: 15px;
      padding-left: 20px;
      border: none;
      outline: none;
      font-size: 14px;
      font-family: "Kanit", sans-serif;
      font-weight: 300;
      background-color: #fff;
    }

    button {
      height: 100%;
      width: 15%;
      border-radius: 15px;
      border: none;
      outline: none;
      position: absolute;
      right: 0;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        font-size: 1rem;
      }
    }
  }
}
