.missions-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @media (max-width: 1024px) {
    padding-top: 25px;
  }
  @media (max-width: 866px) {
    padding-top: 50px;
  }
  @media (max-width: 768px) {
    padding-top: 0;
  }
  @media (max-width: 530px) {
    padding-top: 25px;
  }
  @media (max-width: 430px) {
    padding-top: 50px;
  }
  @media (max-width: 430px) and (max-height: 700px) {
    padding-top: 100px;
  }
  @media (max-width: 430px) and (max-height: 570px) {
    padding-top: 125px;
  }
  @media (max-width: 430px) and (max-height: 500px) {
    padding-top: 150px;
  }
  @media (max-width: 430px) and (max-height: 430px) {
    padding-top: 175px;
  }
  @media (max-width: 430px) and (max-height: 360px) {
    padding-top: 200px;
  }
}
