.healer-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 50px;
  @media (max-width: 850px) {
    padding-top: 25px;
  }
  h1 {
    color: #eee;
    text-align: center;
    padding-top: 20px;
    font-size: 3.5rem;
    @media (max-width: 850px) {
      padding-top: 0;
      padding-bottom: 50px;
    }
  }

  .healer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 100%;

    .healer {
      height: 200px;

      @media (max-width: 425px) {
        height: 150px;
      }
    }

    h3 {
      color: #eee;
      width: 400px;
      padding: 0 30px 0 30px;
      font-weight: 300;
      @media (max-width: 768px) {
        text-align: center;
        padding-top: 20px;
      }
      @media (max-width: 575px) {
        padding: 0 80px 0 80px;
      }
      @media (max-width: 425px) {
        padding: 0 120px 0 120px;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      padding-top: 30px;
    }
  }

  .list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 700px;
    padding-bottom: 100px;

    @media (max-width: 850px) {
      padding-bottom: 50px;
      flex-direction: column;
    }
  }
}
