.app {
  display: flex;

  .nav {
    width: 100%;
    ul {
      width: 100%;
      padding: 0;
      .disabled {
        pointer-events: none;
      }
      li {
        padding-top: 15px;
        width: 100%;
        text-align: center;
        .link {
          text-decoration: none;
          color: #fff;
          text-transform: capitalize;
          font-size: 1.3rem;
          z-index: -1;
          transition: all 0.5s ease-in-out;
        }
        .link-active {
          text-decoration: none;
          color: #fff;
          text-transform: capitalize;
          text-decoration: 1px line-through;
          text-decoration-color: #fff;
          font-size: 1.3rem;
          z-index: -1;
          transition: all 0.5s ease-in-out;
        }
      }
    }
  }
}
