.battles-container {
  color: #fff;
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
    @media (max-width: 1350px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @media (max-width: 768px) {
      flex-direction: row;
    }
    @media (max-width: 700px) {
      flex-direction: column;
    }
  }
}
