.container {
  .enemy {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      height: 170px;
      border-radius: 100%;
    }

    h2 {
      font-size: 2rem;
      color: #eee;
      padding-bottom: 10px;
    }
    .hp {
      width: 30%;
      border-radius: 15px;
      color: rgb(0, 255, 30);
      background-color: rgb(0, 255, 30);
    }

    .hp::-webkit-progress-bar {
      border-radius: 15px;
    }

    .hp::-webkit-progress-value {
      border-radius: 15px;
      background-color: rgb(0, 255, 30);
    }
    .hp::-moz-progress-bar {
      border-radius: 15px;
      color: rgb(0, 255, 30);
    }

    .stats {
      padding-top: 25px;
      display: grid;
      justify-content: center;
      justify-items: center;
      grid-template-columns: 1fr;
      width: 100%;

      h4 {
        font-size: 1.2rem;
        color: #fff;
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      width: 70%;
      padding-top: 25px;
      svg {
        color: #eee;
        font-size: 2rem;
      }
    }
  }
}
