.enemy {
  height: calc(100% - 150px);
  padding: 20px 20px 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 300px;
  margin-left: 20px;
  border-radius: 15px;
  @media (max-width: 1024px) {
    padding: 50px 50px 10px 50px;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
    img {
      height: 125px;
      border-radius: 100%;
    }

    h3 {
      font-size: 2rem;
      color: #eee;
      padding-bottom: 10px;
    }
  }

  .hp {
    width: 80%;
    border-radius: 15px;
    color: rgb(0, 255, 30);
    background-color: rgb(0, 255, 30);
    min-height: 10px;
    @media (max-width: 425px) {
      width: 50%;
    }
  }

  .hp::-webkit-progress-bar {
    border-radius: 15px;
  }

  .hp::-webkit-progress-value {
    border-radius: 15px;
    background-color: rgb(0, 255, 30);
  }
  .hp::-moz-progress-bar {
    border-radius: 15px;
    color: rgb(0, 255, 30);
  }

  .stats {
    padding-top: 25px;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-row-gap: 2px;
    width: 100%;
    h4 {
      color: #fff;
      font-size: 1.2rem;
    }
  }
}
