.mid {
  height: 100%;
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 300px;
  border-radius: 15px;

  button {
    width: 80%;
    height: 45px;
    font-size: 1.3rem;
    font-weight: 300;
    font-family: "Kanit", sans-serif;
    border-radius: 15px;
    background-color: #eee;
    outline: none;
    border: none;
    cursor: pointer;
  }
}
