.mid {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 300px;
  border-radius: 15px;
  @media (max-width: 1440px) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  @media (max-width: 425px) {
    flex-direction: column;
  }

  button {
    width: 200px;
    height: 45px;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: "Eagle Lake", cursive;
    background-color: #eee;
    outline: none;
    border: none;
    cursor: pointer;

    @media (max-width: 1024px) {
      width: 150px;
      height: 40px;
      font-size: 1rem;
    }
  }
}
