.player {
  padding: 20px 0 30px 0;
  display: flex;
  align-items: center;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
  @media (max-width: 1024px) {
    padding: 0 20px 0 20px;
  }
  img {
    height: 100px;
    @media (max-width: 1200px) {
      height: 70px;
    }
  }

  .text {
    width: 90%;
    padding-left: 20px;
    h2 {
      color: #eee;
      font-size: 1.3rem;
      @media (max-width: 1200px) {
        font-size: 1rem;
      }
    }
    h3 {
      color: #eee;
      font-weight: 300;
      font-family: "Roboto Condensed", sans-serif;
    }
  }
}
