.player {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  img {
    height: 100px;
  }

  .text {
    width: 90%;
    h2 {
      color: #eee;
    }
    label {
      color: #eee;
    }
  }
  &:hover {
    background-color: rgb(0, 255, 30);

    h2 {
      color: #000;
    }
    label {
      color: #000;
    }
  }
}

.xp {
  width: 100%;
  border-radius: 15px;
  color: rgb(0, 136, 255);
  background-color: rgb(0, 136, 255);
}

.xp::-webkit-progress-bar {
  border-radius: 15px;
}

.xp::-webkit-progress-value {
  border-radius: 15px;
  background-color: rgb(0, 136, 255);
}
.xp::-moz-progress-bar {
  border-radius: 15px;
  color: rgb(0, 136, 255);
}
