.player {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  img {
    height: 100px;
  }

  .text {
    width: 90%;
    padding-left: 20px;
    h2 {
      color: #eee;
      font-size: 1.3rem;
    }
    h3 {
      color: #eee;
      font-weight: 300;
      font-family: "Roboto Condensed", sans-serif;
    }
  }
}
