.user {
  background-color: #141414;
  height: calc(100% - 150px);
  padding: 20px 20px 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 300px;
  margin-right: 20px;
  border-radius: 15px;
  @media (max-width: 1024px) {
    padding: 50px 50px 10px 50px;
  }

  img {
    height: 150px;
    border-radius: 100%;
    outline: 2px solid #fff;
  }

  h3 {
    font-size: 2rem;
    color: #eee;
    padding-bottom: 10px;
  }

  .hp {
    width: 80%;
    border-radius: 15px;
    color: rgb(0, 255, 30);
    background-color: rgb(0, 255, 30);
    @media (max-width: 425px) {
      width: 50%;
    }
  }

  .hp::-webkit-progress-bar {
    border-radius: 15px;
  }

  .hp::-webkit-progress-value {
    border-radius: 15px;
    background-color: rgb(0, 255, 30);
  }
  .hp::-moz-progress-bar {
    border-radius: 15px;
    color: rgb(0, 255, 30);
  }

  .stats {
    padding-top: 50px;
    display: grid;
    justify-content: center;
    grid-row-gap: 40px;
    grid-template-columns: repeat(2, 50%);
    width: 100%;
    height: 100px;
  }

  .stats-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
  }

  .stats-info svg {
    color: #fff;
    font-size: 45px;
    @media (max-width: 1500px) {
      font-size: 28px;
    }
  }

  .stats-info strong {
    color: #fff;
    font-size: 1.5rem;
  }
}
