.user {
  height: calc(100% - 150px);
  padding: 20px 20px 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 300px;

  border-radius: 15px;
  @media (max-width: 1440px) {
    width: 100%;
    padding: 50px 0 50px 0;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
    img {
      height: 125px;
      @media (max-width: 1440px) {
        height: 105px;
      }
    }

    h3 {
      font-size: 2rem;
      color: #eee;

      @media (max-width: 1440px) {
        font-size: 1.8rem;
      }
    }
  }

  .hp {
    width: 200px;
    border-radius: 15px;
    color: rgb(0, 255, 30);
    background-color: rgb(0, 255, 30);
    min-height: 10px;
    @media (max-width: 1440px) {
      height: 12px;
    }
  }

  .hp::-webkit-progress-bar {
    border-radius: 15px;
  }

  .hp::-webkit-progress-value {
    border-radius: 15px;
    background-color: rgb(0, 255, 30);
  }
  .hp::-moz-progress-bar {
    border-radius: 15px;
    color: rgb(0, 255, 30);
  }

  .stats {
    padding-top: 25px;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-row-gap: 2px;
    width: 100%;
    h4 {
      color: #fff;
      font-size: 1.2rem;
    }
  }
}
