.perk-container{
width: calc(100% / 3);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}


.perk-container img{
    height: 70%;
    cursor: pointer;
    border-radius: 30px;
    transition: all .3s ease-in-out;
}
.perk-container img:hover{
    outline: 2px solid rgb(0, 255, 30);
}

.perk-container h3{
    padding-top: 20px;
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
}

.perk-container h4{
    font-size: 1.4rem;
    color: #fff;
    font-weight: 500;
    text-align: center;
}