.notificationsContainer {
  background-color: #0e0e0e;
  opacity: 1;
  box-shadow: 0 0 15px 5px rgb(0 0 0 / 50%);
  height: 100%;
  width: 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  z-index: 99;
}

.notificationsContainerActive {
  background-color: #0e0e0e;
  opacity: 1;
  box-shadow: 0 0 100px 5px rgb(0 0 0 / 50%);
  height: 100%;
  width: 400px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  overflow-y: auto;
  z-index: 99;
  @media (max-width: 450px) {
    width: 250px;
  }
  .icon {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 99;
    svg {
      font-size: 2.2rem;
      color: #fff;
    }
  }
  .notificationsContent {
    width: 100%;
    padding-top: 100px;
  }
}
