.button {
  width: 10vw;
  height: 40px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Kanit", sans-serif;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.btnAuth {
  width: 40%;
  height: 40px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Kanit", sans-serif;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.sidebarBtn {
  width: 10vw;
  height: 40px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Kanit", sans-serif;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.mobileBtn {
  width: 10vw;
  height: 40px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Kanit", sans-serif;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.errorBtn {
  width: 40%;
  height: 40px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Kanit", sans-serif;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.inventoryBtn {
  width: 100%;
  height: 30px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Kanit", sans-serif;
  border-radius: 15px;
  border: none;
  cursor: pointer;

  @media (max-width: 425px) {
    font-size: 16px;
  }
}

.healBtn {
  width: 90%;
  height: 35px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Kanit", sans-serif;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.missionBtn {
  width: 100%;
  height: 35px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Kanit", sans-serif;
  border-radius: 15px;
  border: none;
  cursor: pointer;

  &:disabled {
    background-color: rgb(163, 163, 163);
    color: #777777;
    cursor: not-allowed;
  }
}

.btnBattle {
  width: 90%;
  height: 35px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Kanit", sans-serif;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.btnBattlePending {
  background-color: rgb(163, 163, 163);
  color: #777777;
  cursor: not-allowed;
  width: 90%;
  height: 35px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Kanit", sans-serif;
  border-radius: 15px;
  border: none;
  cursor: not-allowed;
}

.btnBattleWin {
  outline: 3px solid rgb(60, 255, 0);
  background-color: rgb(5, 155, 0);
  color: #eee;
  width: 90%;
  height: 35px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Kanit", sans-serif;
  border-radius: 15px;
  border: none;
  cursor: not-allowed;
}
.btnBattleDefeat {
  outline: 3px solid rgb(164, 0, 0);
  background-color: red;
  color: #eee;
  width: 90%;
  height: 35px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Kanit", sans-serif;
  border-radius: 15px;
  border: none;
  cursor: not-allowed;
}

.arenasBtn {
  width: 30%;
  height: 35px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Kanit", sans-serif;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.arenasBtn-wait {
  background-color: rgb(163, 163, 163);
  color: #777777;
  cursor: not-allowed;
  width: 30%;
  height: 35px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Kanit", sans-serif;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 150px;
}
