.button {
  width: 10vw;
  height: 40px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Kanit", sans-serif;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.btnAuth {
  width: 40%;
  height: 40px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Kanit", sans-serif;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.sidebarBtn {
  width: 10vw;
  height: 40px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Kanit", sans-serif;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.mobileBtn {
  width: 10vw;
  height: 40px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Kanit", sans-serif;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.errorBtn {
  width: 40%;
  height: 40px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Kanit", sans-serif;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.inventoryBtn {
  width: 90%;
  height: 30px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Kanit", sans-serif;
  border-radius: 15px;
  border: none;
  cursor: pointer;

  @media (max-width: 425px) {
    font-size: 16px;
  }
}

.healBtn {
  width: 90%;
  height: 35px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Kanit", sans-serif;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
