.input{
    width: 300px;
    height: 40px;
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding-left: 20px;
    font-weight: 300;
    font-family: 'Kanit', sans-serif;
}

.input:focus{
    border: 1px solid #ccc;
    outline: none;
}

