.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .content {
    height: 100%;
    width: 100%;
    display: flex;

    .list {
      height: 100%;
      width: 350px;
      overflow-y: auto;
      padding: 20px;
    }
    .arena {
      width: calc(100% - 300px);
      height: 100%;
      position: relative;
      z-index: 1;
    }
  }
}

.fight {
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;

  .exit {
    font-size: 2rem;
    color: #fff;
    position: absolute;
    left: 20px;
    bottom: 20px;
  }
}
