.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .content {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
    .list {
      height: 100%;
      width: 350px;
      overflow-y: auto;
      padding: 20px;
      @media (max-width: 1200px) {
        width: 250px;
      }
      @media (max-width: 1024px) {
        padding: 0;
        height: 20%;
        overflow-x: auto;
        height: auto;
        overflow-y: hidden;
        width: auto;
        display: flex;
        flex-direction: row;
      }
    }
    .arena {
      width: calc(100% - 300px);
      height: 100%;
      position: relative;
      z-index: 1;
      @media (max-width: 1024px) {
        height: 80%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.fight {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  @media (max-width: 1440px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .exit {
    font-size: 2rem;
    color: #fff;
    position: absolute;
    left: 20px;
    bottom: 20px;
  }
}
