.container{
    height: 100vh;
    width: 100vw;
    transition: all .2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container{
    width: 100vw;
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../../assets/backgrounds/game_background_1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.form-control{
    background-color: #141414;
    width: 500px;
    height: 350px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
}

@media all and (max-width:768px){
    .form-control{
        width: 400px;
    }    
}

.form-control h3{
    font-size: 2.5rem;
    text-align: center;
    font-weight: 500;
    user-select: none;
    color: #fff;
}

@media all and (max-width: 768px){
    .form-control h3{
        font-size: 2rem;
    }
}

.form-control a{
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    font-weight: 300;
    user-select: none;
    color: #fff;
}

@media all and (max-width: 768px){
    .form-control a{
        font-size: 1.25rem;
    }
}


.blur{
    filter: blur(5px);
    transform: scale(1.1);
    transition: all .1s ease-in-out;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

