.notifications {
  position: relative;
  svg {
    color: #fff;
    font-size: 2rem;
  }

  .redDot {
    position: absolute;
    top: 0;
    right: 5px;
    background-color: red;
    height: 10px;
    width: 10px;
    border-radius: 100%;
  }
}
