.topbar {
  width: 100vw;
  height: 150px;
  background-color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 4.5rem;
  font-weight: 700;
  color: #fff;
  user-select: none;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 55px;
  position: absolute;
  right: 50px;
}

.menu img {
  height: 100%;
  border-radius: 50%;
}

.menu-id{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.menu span {
  color: #fff;
  font-size: 1.2rem;
}