.topbar {
  width: 100vw;
  height: 150px;
  background-color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 4.5rem;
  font-weight: 700;
  color: #fff;
  user-select: none;
  @media all and (max-width: 768px) {
    font-size: 3rem;
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 55px;
  position: absolute;
  right: 50px;

  .notifications {
    display: flex;
    justify-content: center;
    svg {
      color: #eee;
      font-size: 2rem;
      position: relative;
    }

    .dot {
      background-color: red;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      z-index: 99;
      position: absolute;
      left: 15px;
    }
  }
}

.menu img {
  height: 100%;
  border-radius: 50%;
  @media (max-width: 1024px) {
    display: none;
  }
}

.menu-id {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  @media (max-width: 1024px) {
    display: none;
  }
}

.menu span {
  color: #fff;
  font-size: 1.2rem;
}

.mobileMenu {
  color: #eee;
  display: none;

  @media (max-width: 1440px) {
    display: block;
    font-size: 2rem;
  }
}
