.welcome-container {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: auto;

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px 0 20px;
    h1 {
      color: #fff;
      font-size: 2rem;
      text-align: center;
      padding-bottom: 50px;
      @media (max-width: 1200px) {
        padding-bottom: 0;
        padding-top: 50px;
      }
    }
    .skills {
      position: relative;
      height: 100% !important;
      width: 100%;
      display: flex;
      align-items: center;

      @media (max-width: 1200px) {
        height: auto;
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
      }
    }
  }

  .host {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media (max-width: 1230px) {
      gap: 30px;
    }
    .text {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 1230px) {
        flex-direction: column;
        height: auto;
      }
    }

    img {
      height: 200px;

      @media (max-width: 1230px) {
        height: 150px;
      }
      @media (max-width: 1200px) {
        padding: 20px 0 0 0;
      }
      @media (max-width: 1024px) {
        height: 120px;
      }
      @media (max-width: 375px) {
        height: 80px;
      }
    }
    h3 {
      letter-spacing: 1px;
      color: #fff;
      width: 60%;
      text-align: center;
      font-weight: 300;
    }
  }

  .nextArrow {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    @media (max-width: 1230px) {
      position: relative;
    }
    svg {
      font-size: 3rem;
      color: #fff;
    }
  }
}
