.navigation-bar {
  background-color: #141414;
  width: 1150px;
  height: 80px;
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  z-index: 99;
  @media (max-width: 1440px) {
    width: 100px;
    height: 600px;
    bottom: initial;
    left: 0;
  }
  @media (max-width: 425px) {
    width: 80px;
  }
}
.navigation-bar nav {
  height: 100%;
  width: 100%;
  border-radius: inherit;
  display: flex;

  @media (max-width: 1440px) {
    flex-direction: column;
  }
}

.feature {
  text-transform: capitalize;
  height: 100%;
  width: calc(100% / 6);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  transition: all 0.1s ease-in-out;
  font-size: 20px;

  @media (max-width: 1440px) {
    height: calc(100% / 6);
    width: 100%;
    padding: 0 10px 0 10px;
  }
}

.active {
  color: rgb(0, 255, 30);
}

.navigation-bar nav a:hover {
  border-radius: 15px;
  outline: 2px solid rgb(0, 255, 30);
}
