@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");
html,
body,
h1,
h2,
h3,
p,
h4 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eagle Lake", cursive;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -webkit-text-size-adjust: 100%;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #212121 #ffffff;
}
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #212121;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
