@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;500;700;900&display=swap");
html,
body,
h1,
h2,
h3,
p,
h4 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}
