.trigger {
  background-color: #212121;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  outline: 2px solid #fff;
  svg {
    color: #eee;
    font-size: 2rem;
  }
}

.menu {
  width: 0;
  height: 0;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  svg {
    display: none;
  }
}

.menu.open {
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  border-radius: 15px;
  width: 300px;
  height: 60px;
  position: absolute;
  background-color: #212121;
  z-index: 98;
  position: absolute;
  right: 80px;
  bottom: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;

  svg {
    display: block;
    color: #eee;
    font-size: 2rem;
  }
  .notifications {
    display: flex;
    justify-content: center;
    .dot {
      background-color: red;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      z-index: 99;
      position: absolute;
      transform: translateX(5px);
    }
  }
}
