.notification {
  padding: 10px 0 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.511);
  width: 90%;
  color: #eee;
  display: flex;
  align-items: center;
  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
