.notification {
  padding: 10px 0 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.511);
  width: 90%;
  color: #eee;
  display: flex;
  align-items: center;

  img {
    height: 50px;
  }

  .text.true {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h3,
    p {
      font-weight: 300;
    }
  }
  .text.false {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h3,
    p {
      font-weight: 500;
    }
  }

  span {
    font-size: 0.9rem;
    font-weight: 300;
  }
}
